@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #B6C8DD;
  display: flex;
  align-items: center;
  justify-content: center;
}

.happy-survey-wrapper {
  height: 100vh;
  background-color: #B6C8DD;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.hs-embeded-survey {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  font-family: "Nunito",
  sans-serif;
  text-align: center;
  justify-self: center;
  width: 900px;
  height: 600px;
  padding: 0px;
  background-color: rgb(22, 38, 57);
  border-radius: 5px;
}

.hs-question-h3 {
  color:white;
  margin: 16px;
}

.likely {
  font-size: smaller;
  color: white;
  margin: 20px;
}
.progress {
  display: inline-flex;
  text-align: center;
  justify-self: center;
  margin-bottom: 25px;
}

.hs-emb-bt {
  margin: 4px;
  height: 40px;
  width: 40px;
  margin-top: 0;
  cursor: pointer;
  border: none;
  color: white;
}

.hs-emb-bt:hover {
  filter: brightness(150%);
}

.hs-emb-bt-selected {
  border: 1.5px solid white;
  filter: brightness(150%);
  font-weight: normal;
  color: #162639;
 
  }

.hs-emb-bt0 {
  background-color: rgb(242, 74, 74);
}

.hs-emb-bt1 {
  background-color: rgb(226, 96, 96);
}

.hs-emb-bt2 {
  background-color: rgb(220, 95, 68);
}

.hs-emb-bt3 {
  background-color: rgb(214, 100, 52);
}

.hs-emb-bt4 {
  background-color: #DA8344;
}

.hs-emb-bt5 {
  background-color: #DC9F44;
}

.hs-emb-bt6 {
 background-color: #DABC6F;
}

.hs-emb-bt7 {
  background-color: rgb(183, 193, 122);
  
}

.hs-emb-bt8 {
  background-color: rgb(159, 203, 103);
  
}

.hs-emb-bt9 {
  background-color: #52A569;
}

.hs-emb-bt10 {
  background-color: #3B8554;
}

.hsInfoText{
  color: white;
}
.hs-info-p {
  color: white;
  margin: 5px;
}

.hs-comment {
  display: block;
  background-color: white;
  color: black;
  font-weight: bold;
  width: 500px;
  height: 120px;
  padding: 16px;
  text-align: left;
  margin-top: 10px;
  border-radius: 5px;
  resize: none;
  border: solid 1px white;
}

.hs-comment:focus {
  outline: none;
}

.hs-emb-save {
  background-color: #ce672e;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  margin: 20px;
  font-family: sans-serif;
  font-size: 20px;
  cursor: pointer;
  border: none;
  color:white;
  margin: 50px 0 70px 0;
}

.hs-emb-save:hover {
  background-color: #ff5c02;
  color: white;
}

.hs-close-btn {
display: block;
color: white;
font-size: 16px;
margin-left: 90%;
}

.hs-close-button {
  font-size: 15px;
  text-align: center;
  margin-top: 8px;
  margin-left: 93%;
  cursor: pointer;
  height: 25px;
  width: 25px;
  border-radius: 5px;
  background-color:#071729e9;
  border-radius: 50%;
  border: solid 1px #ff5b029f;
  color:#FF5C02;
  
}

.hs-close-button:hover{
  background-color: #FF5C02;
  color: #162639;
}
.responsive-section {
  display: none;
}

/***************mobile*****************/

@media only screen and (max-width: 428px) {
  .hs-embeded-survey {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 926px;
  }


  .hs-question-h3{
    font-size: 1.2rem;
    font-weight:normal;
    display: inline-block;
  }

  .likely {
    font-size: 1rem;
   
  }

  .hs-emb-save {
    width: 70px;
    height: 40px;
    font-size: 15px;
    color: white;
    margin: 20px 0 30px 0;
  }

  .hs-close-button {
    display: none;
  }
  
  .progress {
    display: none;
  }

  .responsive-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 50px auto;
  margin-top: 40px;
  width: 100%;
  clear: both;
  margin-bottom: 50px;
  }

  .circle {
    font-size: large;
    color: #FF5C02;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 1px solid gainsboro;
    background-color: #B6C8DD;
  }
  .circle {
    font-size: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    text-align: center;
  }
  .rating {
    width: 300px;
    height: 23px;
    border: 1px solid gainsboro;
    cursor: pointer;
    border:none;
    border-radius: 20px;
  }
  #rating {
    display: block;
    margin: 10px auto 0 auto;
  }

  .hs-comment {
    width: 300px;
      align-self: center;
      border: solid 1.5px #b6c8dd;
      background-color: #162639;
      border-radius: 13px;
      color: white;
      padding: 8px;
  }
  .hs-info-p {
    text-align: center;
    padding-top: 0;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
  }
}

/***************ipad*****************/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {

  
  .hs-embeded-survey {
  margin: 50px auto;
  font-family: "Nunito",
  sans-serif;
  width: 90%;
  height: auto;
  padding: 0px;
  }
  
  .hs-question-h3 {
    color: white;
    margin: 30px;
    font-size: 16px;
  }

  .hs-emb-save {
    width: 70px;
    height: 40px;
    font-size: 15px;
    color: white;
    margin: 30px 0 50px 0;
  }

  .hs-emb-bt {
    margin: 3px;
    height: 30px;
    width: 30px;
    margin-top: 0;
    cursor: pointer;
    border: none;
    color: white;
  }

  .likely{
    margin: 10px;
    margin-top:0;
    margin-bottom: 10px;
  }

  .hs-comment {
    width: 300px;
    align-self: center;
    border: solid 1.5px #b6c8dd;
    background-color: #162639;
    border-radius: 13px;
    color: white;
    padding: 8px;
  }
  
  .hs-info-p {
    text-align: center;
    padding-top: 0;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
  }
}

